
////positief/negatief
$pos: rgb(0,179,149);
$neg: rgb(244,60,48);


//kleuren Het Journaal
//////////////////////

////basiskleuren
$text: rgb(22,34,43);
$blueDark: rgb(12,84,103);
$blueLight: rgb(1,169,205);
$white: rgb(252,250,251);

////tussenkleuren
$tussen1: rgb(27,48,51);
$tussen2: rgb(14,69,76);
$tussen3: rgb(2,90,102);
$tussen4: rgb(3,129,152);
$tussen5: rgb(1,135,164);
$tussen6: rbg(5,201,227);

////accent/highlight
$accentBlue: rgb(1,195,195);
$accentYellow: rgb(255,231,34);

//kleuren Amerika Kiest
///////////////////////
$vsBlue:		#00a9cc;
$vsRed:			#ec333b;
$vsDark:		#1c2a36;
$vsLight:		#f5f3f1;
$vsBg:			#cccccc;
$vsText:		#1d1d1d;

//kleuren politieke partijen
////////////////////////////
$nva: #ffbe00;
$cdv: #ee5306;
$spa: #c20016;
$vld: #0170bf;
$groen: #80c143;
$vb: #e5bf20;
$pvda: #a01717;
$mr: #0c5a89;
$andere: #9d9d9c;

//kleuren De Redactie
/////////////////////
$drText: #1d1d1d;
$drGreen: #7FC242;
$drBg: #1B2935;
$drPos: $groen;
$drNeg: $spa;
