@font-face {
  font-family: 'segoe';
  src: url('../assets/fonts/segoesc.eot');
  src: url('../assets/fonts/segoesc.woff') format('woff'),
       url('../assets/fonts/segoesc.ttf') format('truetype'),
       url('../assets/fonts/segoesc.svg#UtopiaStd-Subh') format('svg'),
       url('../assets/fonts/segoesc.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
